<%= form_for(@prospect) do |f| %>
  <div id="field">
    <%= f.text_field :email, :value => "email address" %>
  </div>  
  <div id="prospect_submit">
    <%= image_submit_tag('false.png') %>
  </div>
<% end %>