<h1>Thank you for your interest in CrowFly!</h1>
<br />
We aim to simplify the process of embedding Google Earth presentations in a web browser.<br />
Whether you are rendering a building design, overlaying site plan, or displaying geographic data,<br />
we think you should spend more time producing and less time pouring over code scripts.<br />
CrowFly provides a free, simple interface for creating your presentation,<br />
and then we offer a hosting service to seamlessly deliver your content in the cloud.<br />
<br />
Please watch your inbox for an invitation to be one of our beta testers.<br />
We look forward to helping you painlessly produce rich content in the coming weeks.