<p class="copy">
  CrowFly simplifies the process of embedding Google Earth presentations in a web browser.<br />
  Whether you are rendering a building design, overlaying a site plan,<br />
  or displaying geographic data, we think you should spend more time producing<br />
  and less time pouring over code scripts.<br />
  CrowFly provides a free, simple interface for creating your presentation,<br />
  and offers a hosting service to seamlessly deliver your content in the cloud.<br />
  <br />
  <%= link_to 'We welcome your questions and comments.', contact_path %>
</p>