<p class="terms">
  By using CrowFly, you agree to accept the <%= link_to 'Google Maps/Earth Terms of Service', 'http://www.google.com/help/terms_maps.html' %>.<br />
  CrowFly is offered as a free utility to interface with the Google Earth API.<br />
  In order to simplify the delivery of your presentations,<br />
  we offer a seamless service for hosting your data in the cloud.
</p>